body {
  background-color: #01352c;
  font-family: Georgia, "Times New Roman", Times, serif;
}

a {
  color: #885df1;
}

.wetter-app {
  background: #61b390;
  max-width: 500px;
  display: block;
  margin: 100px auto;
  box-shadow: 0 30px 50px rgba(100, 222, 106, 0.08);
  border-radius: 12px;
  padding: 30px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

header {
  border-bottom: #61b390;
  padding: 0 0 10px 0;
}
.wetter-app-quote {
  text-align: center;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.4);

  text-align: center;
}
.search-input {
  background-color: #e5dfdf;
  border: none;
  border-radius: 6px;
  width: 80%;
  font-size: 16px;
  padding: 12px 18px;
  display: block;
  margin: 0 auto;
}

.search-button {
  background: #357376;
  padding: 10px 15px;
  border-color: #6ba8a9;
  font-size: 16px;
  border-radius: 6px;
  color: white;
  display: block;
  justify-self: center;
  margin: 15px;
}

main {
  padding: 10px 0;
}

.wetter-app-data {
  text-align: center;
  display: block;
}

.wetter-app-city {
  font-size: 38px;
  line-height: 6px;
  text-align: center;
}

.wetter-app-details {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.4);
  line-height: 25px;
  font-weight: 500;
  text-align: center;
}
#time {
  text-transform: capitalize;
  font-weight: bolder;
}
#mood {
  text-transform: capitalize;
  font-weight: bold;
}

.wetter-app-details strong {
  color: #3d6271;
}

.wetter-app-temperature-data {
  display: block;
  text-align: center;
  justify-content: safe;
  margin-bottom: 25px;
}

.wetter-app-emoji {
  width: 88px;
  height: 88px;
}

#temperature {
  font-size: 88px;
  padding-top: 5px;
  font-weight: bold;
}

#degrees {
  margin-top: 6px;
  font-size: 20px;
}
.wetter-forecast {
  display: flex;
  justify-content: space-around;
  margin: 40px 0px;
  background: #4db688;
  padding: 25px 20px;
}

.forecast-date {
  text-align: center;
  color: rgb(0, 0, 0);
  font-size: 16px;
  line-height: 5px;
}
.forecast-emoji {
  max-width: 70px;
}
.forecast-temperature {
  color: rgb(0, 0, 0);
  text-align: center;
  display: flex;
  justify-content: center;
}

footer {
  border-top: #61b390;
  padding: 15px 0 0 0;
  text-align: center;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.6);
  margin-top: 20px;
}
